<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <akka>
        <hocon>
            <![CDATA[
akka {
    actor {
        provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
    }      
    remote {
        helios.tcp {
            hostname = "127.0.0.1"
            port = 0
        }
    }
    cluster {
        seed-nodes = ["akka.tcp://AkkaCluster@127.0.0.1:2552"]
        roles = [nodeWorker]
        sharding {
            guardian-name = shardingWorkers
            role = "nodeWorker"   
            journal-plugin-id = "akka.persistence.shard-journal.sql-server"
            snapshot-plugin-id = "akka.persistence.shard-snapshot-store.sql-server"
            state-store-mode = "persistence"
        }
        singleton {
              singleton-name = "singleton"
              role = ""
              hand-over-retry-interval = 1s
              min-number-of-hand-over-retries = 10
              
        }
    }
            
    persistence {
        journal.plugin = "akka.persistence.journal.sql-server"
        snapshot-store.plugin = "akka.persistence.snapshot-store.sql-server"
        
        journal {
            sqlite {
                class = "Akka.Persistence.Sqlite.Journal.SqliteJournal, Akka.Persistence.Sqlite"
                connection-string = "Data Source=D:\\AkkaSqlite\\PersistenceWithShardingTest\\AkkaNET.Sharding.TwoConfigurations.Actors.db;Version=3;"
                auto-initialize = on
            }
            sql-server {
                class = "Akka.Persistence.SqlServer.Journal.SqlServerJournal, Akka.Persistence.SqlServer" 
                connection-string = "Data Source=devsql;User ID=; Password=; Initial Catalog="
                schema-name = AkkaTest
                auto-initialize = on
            }
            shard-sql-server {
                class = "Akka.Persistence.SqlServer.Journal.SqlServerJournal, Akka.Persistence.SqlServer" 
                connection-string = "Data Source=devsql;User ID=; Password=; Initial Catalog="
                schema-name = AkkaShards
                auto-initialize = on
            }
        }
        snapshot-store {
            sqlite {
                class = "Akka.Persistence.Sqlite.Snapshot.SqliteSnapshotStore, Akka.Persistence.Sqlite"
                connection-string = "Data Source=D:\\AkkaSqlite\\PersistenceWithShardingTest\\AkkaNET.Sharding.TwoConfigurations.Actors.db;Version=3;"
                auto-initialize = on
            }
            sql-server {
                class = "Akka.Persistence.SqlServer.Snapshot.SqlServerSnapshotStore, Akka.Persistence.SqlServer"
                connection-string = "Data Source=devsql;User ID=; Password=; Initial Catalog="
                schema-name = AkkaTest
                auto-initialize = on
            }
            shard-sql-server {
                class = "Akka.Persistence.SqlServer.Snapshot.SqlServerSnapshotStore, Akka.Persistence.SqlServer"
                connection-string = "Data Source=devsql;User ID=; Password=; Initial Catalog="
                schema-name = AkkaShards
                auto-initialize = on
            }
        }
        shard-journal {
            sqlite {
                class = "Akka.Persistence.Sqlite.Journal.SqliteJournal, Akka.Persistence.Sqlite"
                connection-string = "Data Source=D:\\AkkaSqlite\\PersistenceWithShardingTest\\AkkaNET.Sharding.TwoConfigurations.Shards.db;Version=3;"
                auto-initialize = on
            }
            sql-server {
                  class = "Akka.Persistence.SqlServer.Journal.SqlServerJournal, Akka.Persistence.SqlServer" 
                  connection-string = "Data Source=devsql;User ID=; Password=; Initial Catalog="
                  schema-name = AkkaShards
                  auto-initialize = on
            }
        }
        shard-snapshot-store {
            sqlite {
                class = "Akka.Persistence.Sqlite.Snapshot.SqliteSnapshotStore, Akka.Persistence.Sqlite"
                connection-string = "Data Source=D:\\AkkaSqlite\\PersistenceWithShardingTest\\AkkaNET.Sharding.TwoConfigurations.Shards.db;Version=3;"
                auto-initialize = on
            }
            sql-server {
                class = "Akka.Persistence.SqlServer.Snapshot.SqlServerSnapshotStore, Akka.Persistence.SqlServer"
                connection-string = "Data Source=devsql;User ID=; Password=; Initial Catalog="
                schema-name = AkkaShards
                auto-initialize = on
            }
        }
    }
}
]]>
        </hocon>
    </akka>
</configuration>